language: python
sudo: false
dist: trusty
cache:
  directories:
    - $HOME/.cache/pip
branches:
  only:
    - master
matrix:
  include:
    - env: TOX_ENV=py27-twlatest
      python: 2.7.13
    - env: TOX_ENV=pypy-twlatest
      python: pypy2.7-5.8.0
    - env: TOX_ENV=py27-tw150
      python: 2.7.13
    - env: TOX_ENV=pypy-tw150
      python: pypy2.7-5.8.0
    - env: TOX_ENV=py27-twtrunk
      python: 2.7.13
    - env: TOX_ENV=pypy-twtrunk
      python: pypy2.7-5.8.0

install:
  - pip install -U pip setuptools wheel
  - pip install tox codecov

script:
  - tox -e $TOX_ENV

after_success:
  - codecov

notifications:
  email: false
  irc:
     channels: "chat.freenode.net#divmod"
     template:
       - "%{repository}@%{branch} - %{author}: %{message} (%{build_url})"
     use_notice: true
