language: python
sudo: false
cache:
  directories:
    - $HOME/.cache/pip
branches:
  only:
    - master
python:
  - 2.7

env:
  - TOX_ENV=py26-twlatest
  - TOX_ENV=py27-twlatest
  - TOX_ENV=pypy-twlatest
  - TOX_ENV=py26-tw150
  - TOX_ENV=py27-tw150
  - TOX_ENV=pypy-tw150
  - TOX_ENV=py26-twtrunk
  - TOX_ENV=py27-twtrunk
  - TOX_ENV=pypy-twtrunk

install:
  - pip install -U pip setuptools wheel
  - pip install tox coveralls

script:
  - tox -e $TOX_ENV

after_success:
  - coveralls

notifications:
  email: false
  irc:
     channels: "chat.freenode.net#divmod"
     template:
       - "%{repository}@%{branch} - %{author}: %{message} (%{build_url})"
     use_notice: true
