name: Python package
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron:  '27 5 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [2.7, pypy2]
        twisted: [twpy27, twlowest]
        include:
          - python: 3.7
            twisted: twtrunk
          - python: 3.7
            twisted: twlatest
          - python: 3.7
            twisted: twlowest
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: Fetch tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - name: Setup Python
        uses: actions/setup-python@v4.1.0
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: tox -e py-${{ matrix.twisted }}
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          name: gh-${{ matrix.python }}-${{ matrix.twisted }}
